@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Button Styles */
.button-container {
  display: flex;
  justify-content: center;
  gap: 500px;
  margin-top: 40px;
}

.button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid purple;
  background-color: #E0BCED;
  font-family: "Comic Sans MS", cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.1);
}

/* Text Styling */
.text {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  font-weight: bold;
}
