  .login-form {
    width: 300px;
    text-align: left;
  }
  
  .forgot-password {
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .login-button {
    width: 100%;
    background-color: #ffb3b3;
    color: black;
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    border-radius: 20px;
  }
  